@use "../../Settings/scss/varieble";
@use "../../Settings/scss/functions";
header{
    background: varieble.$oq;
    padding: 0.5rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.183)
}
.header__items{
    @include functions.flex(space-between);
}
.public__nav{
    flex-basis: 30%;
}
.public_nav__ul{
    @extend %list;
    @include functions.flex(space-between);
}
.public_nav__ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.header__adresss a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
.header__sign a{
    font-weight: 600;
    color: #000;
    text-decoration: underline;
    font-size: 20px;
}
.header__sign a span{
    padding-left: 0.5rem;
}
.nav_bottom{
    margin-top: 1rem;
    padding: 0.5rem 0rem
}
.nav_bottom ul {
    @include functions.flex(space-between);
    @extend %list;
}
.nav_bottom ul li .page{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding-bottom: 0.5rem ;
    border-bottom: 2px solid transparent;
}
.active_page{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding-bottom: 0.5rem ;
    border-bottom: 2px solid varieble.$blue;
}
.header__settings{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 10%;
}
.header__settings button{
    padding:  1rem;
    margin: 0 0.5rem;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(1);
    padding: 1.4rem; 
    border-radius: 50%;
}
.header__settings .likes_tovar_btn{
    position: relative;
    background-image: url("../../Settings/assets/images/Not_Like.png");
}
.likes_tovar_btn .like__icon{
    background: crimson;
    border: 1px solid red;
    
}
.like_tovar__count{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    background: #14e3ff;
    color: #000;
    padding: 0 0.5rem;
    border-radius: 50%;
    transform: translate( 10px, -10px );
}
.header__settings .likes_tovar_btn span{
    display: inline-block;
}
.settings_akkaunt_btn {
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    background-image: url("../../Settings/assets/images/user-removebg.png");    
}
.shopping_cart_btn{
    font-size: 20px;
    border-radius: 50%;
    color: #fff;
    background-image: url("../../Settings/assets/images/ShoppingCartRemove.png");
    position: relative;
}