@font-face {
    font-display: swap; 
    font-family: "Rubik";
    font-weight: 400;
    src: url("./Settings/assets/fonts/rubik-v26-cyrillic_cyrillic-ext_hebrew_latin_latin-ext/rubik-v26-cyrillic_cyrillic-ext_hebrew_latin_latin-ext-regular.woff2") format("woff2");
}
*{
    font-family: "Rubik";
}