@use "../../Settings/scss/varieble";
@use "../../Settings/scss/functions";
#main__private{
    width: 100%;
    height: auto;
    padding-top: 12rem;
}
.hero__items{
    width: 100%;
    display: grid;
    grid-template: repeat(1, 400px) / repeat(2, 70% 30%);
    justify-content: space-between;
}
.hero_items__swiper{
    width: 100%;
}
#main__private .swiper-slide img{
    width: 100%;
    border-radius: 10px;
}
.hero_aksiya{
    width: 100%;
    @include functions.flex(flex-end);
    align-items: stretch;
}
.hero__card{
    position: relative;
    width: 80%;
    border: 1px solid varieble.$before_text;
}
.hero__card .card__header{
    text-align: center;
    width: 100%;
    @include  functions.flex(space-between);
    align-items: flex-start;
}
.hero__card .card__header .aksiya{
    background: varieble.$blue ;
    padding: 0.5rem;    
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero__card .card__header .before_price{
    color: varieble.$before_text;
    font-size: 16px;
}
.hero__card .card__header .card_header__text{
    padding-right: 0.5rem;
}
.card__header .price{
    font-size: 27px;
    color: varieble.$blue;
}
.hero__card .card__body{
    padding: 1rem;
    text-align: center;
    width: 100%;
    color: varieble.$card_text_color;
}
.card_body__name{
    display: block;
}
.hero__card .card_footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
}
.hero__card .card_footer h4:nth-child(1){
    padding-bottom: 0.5rem;
    color: varieble.$card_text_color;
    font-size: 18px;
}
.hero__card .card_footer h4:nth-child(2){
    color: varieble.$blue;
    font-size: 20px;
}
.moto{
    width: 100%;
    height: auto;
    margin-top: 5rem
}
.moto__links{
    @include functions.flex(space-between);
    width: 40%;
}
.moto__form {
    margin-top: 2rem;
    width: 100%;
    @include functions.flex(space-between);
    align-items: end;
    margin-bottom: 1rem;
}
.moto__form input{
    width: 100%;
    padding: 0.6rem 1rem;
    // font-size: 16px;
    letter-spacing: 1px;
}
.moto__cards{
    margin-top: 2rem ;
    width: 100%;
    display: grid;
    grid-template: repeat(2, 150px) / repeat(3, 29%);    
    justify-content: space-between;        
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.moto__cards .moto__card{
    @include functions.flex(space-between);
    padding: 1rem;    
    border: 1px solid  #CDCDCD;
}
.moto__cards .moto__card .moto_card__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}
.pop__tovar{
    margin-top: 4rem;
}
.pop_tovar__links{
    @include functions.flex(space-between);
    width: 60%;
    padding-top: 2rem;
    margin-bottom: 1rem;
}
.pop_tovar__links a{
    text-transform: uppercase;
}
.pop__slide{
    width: 100%;
    border: 1px solid #CDCDCD;
    position: relative;
}
.pop_slide__header{
    padding: 1rem;
    position: relative;
}
.pop_slide__header .like{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}
.pop_slide__header .sale{
    background: varieble.$blue;
    padding: 0.5rem;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.pop_slide__body{
    padding: 1rem;
    text-align: center;
}
.pop_slide__body h3:nth-child(3){
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.pop_slide__body h3:nth-child(4){
    font-size: 30px;
    font-weight:bold;
}
.pop_slide__footer{
    margin-top: 2rem;
    position: relative;
}
.pop_slide__body p{
    padding-bottom: 1rem;
}
.pop__slide:hover h3, .pop__slide:hover p {
    color: #1C62CD;
    transition: 0.5s ease all;
}
.pop_slide__shop {
    width: 100%;
    height: 100px;
    position: absolute;
    @include functions.flex(center);
    left: 50%;
    top: 40%;
    transform: translate(-50%, 20%);
    opacity: 0;
    transition: 0.5s ease all;
}
.pop__slide:hover .pop_slide__shop{
    opacity: 1;
    transform: translate(-50%, -50%);
    background: #ffffffc6;;
}
.pop_slide__shop a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.pop__heis{
    text-align: center;
}
#dalshe_carousel{
    width: 100%;
    overflow: hidden;
    position: relative;
}
article{
    margin-top: 3rem;
}
article .article__items{
    padding: 1rem;
    background: varieble.$blue;
    width: 100%;
    @include functions.flex(space-between)
}
article .article__items .article__images{
    flex-basis: 33%;
}
article .article__items .article__images::before{
    content:  " ";
    display: inline-block;
    width: 200px;
    height: 116px;
    padding: 1rem;
    background-image: url("../../Settings/assets/images/KvadratSikle.png");
    background-size: 152px 116px;
    background-position: calc(100%);
    background-repeat: no-repeat;
}
article .article__items .article__images::after{
    content:  " ";
    display: inline-block;
    width: 200px;
    height: 116px;
    padding: 1rem;
    background-image: url("../../Settings/assets/images/KvadratSikle2.png");
    background-size: 152px 116px;
    background-position: calc(100%);
    background-repeat: no-repeat;
}
article .article__title{
    font-size: 36px;
    color: #fff;
    flex-basis: 30%;
}
.article__element{
    flex-basis: 33%;    
    @include functions.flex(flex-start);
}